  a:link {
    color: red;
  }
  
  a:visited {
    color: green;
  }
  
  a:hover {
    color: yellowgreen;
  }
  
  a:active {
    color: lightskyblue;
  }
  
  td h3 {
    background-color: lightsalmon;
    color: black;
  }
  
  h3 {
    background-color:  lightgreen;
    color: white;
    border: 3px solid black;
  }
  
  td, th, table {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  table table tr td {
    color: lightyellow;
  }