li {
    list-style: none;
    margin: 10px;
    padding: 0;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

li span {
    padding: 4px 12px;
    padding-right: 0;
    border-radius: 4px;
}

ul {
    padding: 4px;
}

h1 {
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 34px;
    color: darkblue;
}

html {
    background-color: rgb(204, 221, 255);
}

input, label {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: calc(100% - 32px);
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    margin: 12px;
    color: darkblue;
}

button {
    margin: 12px;
    width: 64px;
    height: 64px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    border: none;
    border-radius: 4px;
    color: white;
}

#sum {
    background-color: green;
}

#subtract {
    background-color: red;
}

#multiply {
    background-color: lightblue;
}

#divide {
    background-color: orange;
}

#history-box {
    background-color: aliceblue;
    width: 600px;
    margin: 20px;
    padding: 10px;
    border: 2px dashed slateblue;
    border-radius: 10px;
}

#input-box {
    background-color: aliceblue;
    width: 600px;
    margin: 20px;
    padding: 10px;
    border: 2px dashed slateblue;
    border-radius: 10px;
}

main {
    margin-left: calc(50% - 300px);
}

.hide-button {
    background-color: mediumslateblue;
    padding: 10px;
    margin: 0;
    margin-left: 16px;
    height: auto;
    width: auto;
    font-size: 20px;
}