  #first {
    width: 300px;
    margin: 20px;
    border: 15px solid green;
    padding: 50px;
  }
  
  #second {
    width: auto;
    margin: 20px;
    border: 10px dashed red;
    padding: 10px;
  }
  
  #third {
    width: 40%;
    margin: 20px;
    border: 5px double blue;
    padding: 20px;
  }
  
  .grey-bg {
    background-color: lightgrey;
  }