  h3 {
  color: white;
  background-color:  #00b33c;
  margin-top: 0;

  border: 3px solid black;
}

table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

table table tr td {
  color:#ff6347;
}

td h3 {
  background-color:  #ff9999;
  color: black;
}

a:link {
  color: red;
}

a:hover {
  color: hotpink;
}

a:visited {
  color: green;
}

a:active {
  color: blue;
}
