  a:link {
    color: red;
  }
  
  a:visited {
    color: green;
  }
  
  a:hover {
    color: hotpink;
  }
  
  a:active {
    color: blue;
  }
  
  td h3 {
    background-color:  #ff9999;
    color: black;
  }
  
  h3 {
    background-color:  #00b33c;
    color: white;
    border: 3px solid black;
  }
  
  td, th, table {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  table table tr td {
    color:#ff6347;
  }